<div style="font-family: glacial indifference;">
<div>
    <mat-toolbar class="card">
        <h1 class="font"> EKOSTAY - CASA PORTO </h1>
    </mat-toolbar>
</div>
<div class="image-grid">
    <img class="image-grid-col-2 image-grid-row-2" src="assets/img/1.jpg" alt="EKOSTAY">
    <img src="assets/img/4.1.jpg" alt="EKOSTAY">
    <img src="assets/img/13.jpg" alt="EKOSTAY">
    <img src="assets/img/2.jpeg" alt="EKOSTAY">
    <img src="assets/img/5.jpg" style="filter: blur(4px);" value="more" alt="EKOSTAY">
</div>

<div>
    <mat-toolbar class="card1">
        <h1>
            <mat-icon>visibility</mat-icon> 57 more guests are looking at this property currently
        </h1>
    </mat-toolbar>
</div>


<div>
    <mat-toolbar class="size1">
        <mat-label>5-BHK</mat-label>
        <mat-label>5-Bathrooms</mat-label>
        <mat-label>Kitchen</mat-label>
        <mat-label>Max 12 Guests</mat-label>
        <mat-icon>share</mat-icon>
    </mat-toolbar>
    <!-- <div>
        <mat-toolbar class="card2">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>              
        </mat-toolbar>
    </div> -->
</div>


<div class="DESCRIPTION">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="PROPERTY LAYOUT">
            <div style="margin: 15px;">
                <span class="PROPERTY">An immaculate pool with astounding submersed seating, sprawling with the
                        paranormal views of valleys and lush greenery is what rests in our 4BHK Ekostay Casablanca Villa
                        in Igatpuri . An architectural phenomena with a blend of intricate and
                        contemporary interior decor, Soaking in the quietude pool next to a striking pool
                        hammock with a cozy gazebo and a plush outdoor bar. Spend an exhilarating evening playing
                        billiards and poker in this luxurious and picturesque villa offered to
                        you by us!</span>
            </div>

            <div class="addres">
                Address:
                <p style="margin-left: 8cm;">House no 40 & 41 Gate no.4, shree vyankateshnagar,
                    <br> pimpri village Igatpuri
                </p>
                <span class="line"></span>
                Contact No. :
                <p style="margin-left: 8cm;"> 8591655275 contact us on Whatsapp</p>
                <span class="line"></span>
                Beds :
                <p style="text-align: center;"> 4 Beds</p>
                <span class="line"></span>

                Check In :<p style="text-align: center;">2.00 PM </p>
                <span class="line"></span>
                Check Out :
                <p style="text-align: center;">11.00 AM</p>
                <span class="line"></span>
                Meals :
                <p style="margin-left: 8cm;"> The kitchen is equipped with a toaster, fridge,
                    kettle, gas stove <br>
                    Light cooking is allowed on the property at an additional
                    price. <br>
                    Cook service is available at additional charges
                    Cutlery and crockery are available.
                    Drinking water (water purifier) is available</p>
                <span class="line"></span>

            </div>
        </mat-tab>
        <mat-tab label="DESCRIPTION">Content 2</mat-tab>
        <mat-tab label="AMENITIES">Content 3</mat-tab>
    </mat-tab-group>
</div>


<h1 class="center">Customer Reviews</h1>
<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title style="margin-left: 2cm;">Customer<span
                style="font-size:x-large; color:orange; margin-left: 3cm; ">
                <ngb-rating [max]="5" [(rate)]="rating1" [readonly]="false"></ngb-rating>
            </span></mat-card-title>
            <span class="pic">
        <img mat-card-sm-image src="assets/img/pic.jpg" alt="EKOSTAY"></span>
    </mat-card-title-group>
    <mat-card-content style="margin-left: 2cm;">
        Had a great time at Ekostay ,beautiful villa.
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title style="margin-left: 2cm;">Customer<span
                style="font-size:x-large; color:orange; margin-left: 3cm; ">
                <ngb-rating [max]="5" [(rate)]="rating2" [readonly]="false"></ngb-rating>
            </span></mat-card-title>
            <span class="pic">
        <img mat-card-sm-image src="assets/img/pic.jpg" alt="EKOSTAY"></span>
    </mat-card-title-group>
    <mat-card-content style="margin-left: 2cm;">
        Great villa to hang out with friends.
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title style="margin-left: 2cm;">Customer<span
                style="font-size:x-large; color:orange; margin-left: 3cm; ">
                <ngb-rating [max]="5" [(rate)]="rating3" [readonly]="false"></ngb-rating>
            </span></mat-card-title>
            <span class="pic">
        <img mat-card-sm-image src="assets/img/pic.jpg" alt="EKOSTAY"></span>
    </mat-card-title-group>
    <mat-card-content style="margin-left: 2cm;">
        Really clean rooms. Great experience
    </mat-card-content>
</mat-card>
</div>